*{
  margin: 0;
  padding: 0 ;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}

.btn-one{
  background-color: #30B868;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1) ;
  font-weight: 600;
  /* display: inline-flex; */
  gap: 10px;
}

.btn-one:hover{
  background-color: rgba(70, 145, 101, .9);
  cursor: pointer;
}

.btn-two{
  background-color: #30B868;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1) ;
  font-weight: 600;
  display: inline-flex;
  gap: 10px;
}

.btn-two:hover{
  background-color: rgba(70, 145, 101, .9);
  cursor: pointer;
}

.bar{
  padding: 16px 120px;
}

.bar nav{
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px;
  
}

.bar nav .menu{
  display: flex;
  list-style-type: none;
  gap: 32px;
  align-items: center;
}

.bar nav .menu a{
  font-size: 16px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1) ;
  text-decoration: none;
}

header{
  background-image: url('hero-bg.png');
  background-color: #30B868;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 674px ;
  padding: 115.5px 120px 179.5px 120px;
  /* padding-top: 70px;
  padding-right: 120px;
  padding-bottom: 134px;
  padding-left: 120px; */
}

header .banner {
  gap: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
header .banner .banner-text h1{
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  max-width: 770px;
}
header .banner .banner-text h1 span{
  color:rgba(48, 184, 104, 1);
}
header .banner .banner-text p{
  font-weight: 400px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 1) ;
  margin-top: 16px;
}
header .banner .banner-button{
  gap: 10px;
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

header .banner .banner-button .tpt{
  background-color: transparent;
  border: 1px solid white ;
  /* margin-left: 16px; */
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 4px;
  color: rgba(255, 255, 255, 1) ;
  font-weight: 600;
  gap: 10px;
}

header .banner .banner-button .tpt:hover{
  background-color: transparent;
  border: 1px solid  rgba(48, 184, 104, 1) ;
  color: rgba(70, 145, 101, 1) ;
  cursor: pointer;
}

header .banner .circle-box {
  border-radius: 1000px;
  padding: 8px 12px;
  gap: 6px;
  margin: 0 auto ;
  max-width: 229px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1) ;
}

header .banner .circle-box p{
  font-weight: 500px;
  font-size: 16px;
  color: #30B868;
}

header .banner .circle-box .circle {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
header .banner .circle-box .circle .outer{
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: rgba(70, 145, 101, .2);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
header .banner .circle-box .circle .middle{
  width: 12px;
  height: 12px;
  border-radius: 8px;
  background-color: rgba(70, 145, 101, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}
header .banner .circle-box .circle .inner{
  width: 6px;
  height: 6px;
  border-radius: 8px;
  background-color: rgba(70, 145, 101, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

#feed {
  padding-right: 120px;
  padding-left: 120px;
  /* padding: 120px; */
}

/* #feed .feed-cont .section-heading {
  text-align: center ;
  margin-top: 50px;
} */

#feed .feed-cont .section-heading h1{
  margin-top: 50px;
  text-align: center;
  font-weight: 700px;
  font-size: 48px;
  margin-bottom: 16px;
  color: #001931;
}
#feed .feed-cont .section-heading p{
  text-align: center;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px; 
  color:#627382 ;
}

#feed .feed-cont .feed-box{
  margin-top: 44px;
  display: flex;
  gap: 24px;
  
}

#feed .feed-cont .feed-box .feed-card{
  padding: 24px;
  padding-top: 70px;
  text-align: center;
  max-width: 322px;
  /* height: 300px; */
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06) ;
}

#feed .feed-cont .feed-box .feed-card img{
  max-width: 32px 32px;
  background-color:rgba(249, 85, 85, 1) ;
  padding: 15px;
  border-radius: 100%;
  margin-bottom: 16px;
}

#feed .feed-cont .feed-box .feed-card h1{
  
  font-weight: 600px;
  font-size: 24px;
  text-align: center;
  color: #001931;
}
#feed .feed-cont .feed-box .feed-card p{
  margin-top: 16px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #627382;
}

#solution {
  padding: 120px;
}

#solution .solution-cont{
  display: flex;
  justify-content: left;
  gap: 60px;
}
#solution .solution-cont .bulb img{
  max-width: 600px;
}

#solution .solution-cont .ans{
  text-align: left;
  margin: 102px auto;
}
#solution .solution-cont .ans .section-heading h3{
  font-weight: 500px;
  font-size: 16px;
  line-height: 20px;
  color:#30B868;
  margin-bottom: 16px;
}

#solution .solution-cont .ans .section-heading h1{
  font-weight: 700;
  font-size: 48px;
  /* line-height: 100px; */
  color:#001931;
  margin-bottom: 16px;
}
#solution .solution-cont .ans .section-heading p{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color:#627382;
  margin-bottom: 40px;
}

#solution .solution-cont .ans .text .text-box{
  display: flex;
  justify-content: left;
  gap: 6px;
  margin-bottom: 16px;
}

#challange {
  padding-top: 2px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 120px;
}

#challange .challange-cont{
  padding: 80px 40px;
  background-color: rgba(247, 246, 242, 1);
  text-align: center;
  gap: 24px;
  
}
#challange .challange-cont .ready h1{
  font-weight: 700;
  font-size: 40px;
  color:rgba(0, 25, 49, 1);
  margin-bottom: 16px;
}
#challange .challange-cont .ready p{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color:#627382;
  margin-bottom: 24px;
}

#challange .challange-cont .button-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#challange .challange-cont .button-box p{
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color:#627382;
  margin-top: 16px;
}

footer{
  background-color: rgba(0, 25, 49, 1) ;
  /* padding-left: 120px;
  padding-right: 120px;
  padding-top: 120px; */
  max-height: 348px;
  padding: 120px 120px 30px 120px;
  border-top: 1px;
}

footer .social-section{
  display: flex;
  justify-content: space-between;
  max-width: 1360px;
}

footer .social-section .social-links{
  max-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

footer .social-section .social-links p{
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color:rgba(255, 255, 255, 1);
  margin-bottom: 16px;
}
footer .social-section .social-links .links{
  color: white;
  text-decoration: none;
  gap: 16px;
}

footer .social-section .social-links .links a{
  color: inherit;
}

footer .copyright{
  padding-top: 30px;
  margin-top: 80px;
  border-top: 1px solid rgba(229, 231, 235, .5) ;
}

footer .copyright p{
  
  text-align: center;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color:rgba(250, 250, 250, 1);
}








/* #feed .feed-cont .feed-box .feed-card img{
  background-color: rgba(249, 85, 85, 1) ;
  border-radius: 1000px;
  padding: 10px;
  height: 32px;
  width: 32px;
} */











